<!DOCTYPE HTML>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="GENERATOR" content="Microsoft FrontPage 6.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<title>Controle de Alugueis</title>
</head>

<body onload="javascript:parent.FechaMenu();" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" scroll="no" >
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tr height="100%">
	<td height="100%" width="5%" style=" BACKGROUND-POSITION: left center ; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(../img/bg_inicial_sisvendasI.gif); BACKGROUND-REPEAT: no-repeat" ></td>
	<td height="100%" width="80%" >
	<table border="0" cellpadding="2" cellspacing="0" width="100%">
		<tr>
			<td>
				<p align="center"><font face="Tahoma" size="2"><b>Controle de Alugueis (CTA) </b></font></p>
				<p><font face="Tahoma" size="2"><b>Objetivo: </b><br>
				Propiciar aos usuarios devidamente autorizados, acesso as funcionalidades que copoem seu perfil de acesso a todos os modulos de sistema.<br>
				&nbsp;</font></p>
				<ul>
					<li><font face="Tahoma" size="2"><b>Inicio do Projeto:
						
						</b> Fevereiro de 2022</font></li>
					<li><font face="Tahoma" size="2"><b>Atualizacao:</b><br>
						Base de Dados : Conforme necessidade <br>
						Sistema : 06 de Março de 2022 <br>
						</font></li>
					<li><font face="Tahoma" size="2"><b>Gestor:
						</b>Gerencia de Negocios - GERNEG <br>
						Roberto Lima Pereira - 055-(48) 99600-1189 <br>
						</font></li>
					
					<li><font face="Tahoma" size="2"><b>Desenvolvimento:
						</b>RafaInfor ltda-ME</font></li>
					<li><font face="Tahoma" size="2"><b>Analista Responsaveis:</b><br>
						Roberto Lima Pereira<br>
						</font></li>
				 </ul>
			</td>
		</tr>
	</table>
	</TD>
	<td height="100%" width="15%" style="BACKGROUND-POSITION: right bottom ; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url('../images/bg_inicial_sisvendasII.gif'); BACKGROUND-REPEAT: no-repeat" ></td>
	</tr>
</TABLE>
</body>
</html>
